div.flex-container {
    display: flex;
    /* Show the flex items horizontally */
    flex-direction: column;
}

div.flex-container > div {
    margin: 10px;
    border: solid 1pt grey;
    border-radius: 4px;
    padding: 10px;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}

header {
    background-color: #dcdcdc;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #dbdbdb;
    text-align: center;
    padding: 8px;
}

body{
    background: #f3fdfb;
}

.menu, .menu ul{
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu{
    display: block;
    position: relative;
    height: 47px;
    width: 100%;
    background-color: #415861;
    top: 10px;
}

.menu ul>li {
    display: block;
    position: relative;
    float: left;
}

.dropdown{
    display: none;
}

.menu li>a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li:hover>a{
    background-color: #1b1b1b;
}

.dropdown{
    /*  display: none;*/
    display: block;
    position: absolute;
    opacity: 0;
    background-color: #415861;
}

.menu li:hover>ul{
    top: 47px;
    left: 0;
    opacity: 1;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}